.App {
  font-family: sans-serif;
  text-align: center;
}
/* styling */
/* src/styles.css */

body {
  font-family: Arial, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

div {
  display: flex;
  flex-direction: column;
}

@media (min-width: 600px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}
p {
  color: red;
}
